.container-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.item-container {
    border: 2px solid black;
    border-radius: 5px;
    width: 98%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;  /* Centers content vertically */
    padding: 10px;  /* Adds space inside the container */
}

.cart-item-image {
    max-height: 75px;
    display: block;
    margin: auto;  /* Centers image inside its grid cell */
}

.item-container div {
    text-align: center;  /* Centers text horizontally */
    display: flex;
    align-items: center;  /* Centers text vertically */
    justify-content: center;  /* Keeps content centered in grid cells */
    height: 100%;
}

.item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  /* Adds spacing between buttons and quantity number */
}
